MITMPROXY_MCP_PROXY_HOST=127.0.0.1
MITMPROXY_MCP_PROXY_PORT=8080

MITMPROXY_MCP_MCP_HOST=127.0.0.1
MITMPROXY_MCP_MCP_PORT=8000
MITMPROXY_MCP_MCP_TRANSPORT=streamable-http

MITMPROXY_MCP_MAX_FLOWS=1000
MITMPROXY_MCP_BODY_PREVIEW_LIMIT=200

MITMPROXY_MCP_REDACTION_ENABLED=true
MITMPROXY_MCP_REDACT_HEADERS=true
MITMPROXY_MCP_REDACT_QUERY_PARAMS=true
MITMPROXY_MCP_REDACT_BODY_PREVIEWS=true
